<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/image.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
</head>
<body>
    <div class="video111">
        <a class="backbtn25" href="/home"><img src="https://img.icons8.com/ios-filled/25/null/less-than.png"/>Back</a>
         <div class="video112">
            <div>

                <style>
                    html,
                    body {
                      position: relative;
                      height: 100%;
                    }
                
                    body {
                      background: #eee;
                      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                      font-size: 14px;
                      color: #000;
                      margin: 0;
                      padding: 0;
                    }
                
                    body {
                      background: #fff;
                      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                      font-size: 14px;
                      color: #000;
                      margin: 0;
                      padding: 0;
                    }
                
                    html,
                    body {
                      position: relative;
                      height: 100%;
                    }
                
                    body {
                     background: linear-gradient(80deg,#1EC1E3, #7577EC ,#F903FE);
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                
                    .swiper {
                      width: 440px;
                      height: 550px;
                    }
                
                    .swiper-slide {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-radius: 18px;
                      font-size: 22px;
                      font-weight: bold;
                      color: #fff;
                    }
                
                    .swiper-slide:nth-child(1n) {
                      background-color: rgb(206, 17, 17);
                    }
                
                    .swiper-slide:nth-child(2n) {
                      background-color: rgb(0, 140, 255);
                    }
                
                    .swiper-slide:nth-child(3n) {
                      background-color: rgb(10, 184, 111);
                    }
                
                    .swiper-slide:nth-child(4n) {
                      background-color: rgb(211, 122, 7);
                    }
                
                    .swiper-slide:nth-child(5n) {
                      background-color: rgb(118, 163, 12);
                    }
                
                    .swiper-slide:nth-child(6n) {
                      background-color: rgb(180, 10, 47);
                    }
                
                    .swiper-slide:nth-child(7n) {
                      background-color: rgb(35, 99, 19);
                    }
                
                    .swiper-slide:nth-child(8n) {
                      background-color: rgb(0, 68, 255);
                    }
                
                    .swiper-slide:nth-child(9n) {
                      background-color: rgb(218, 12, 218);
                    }
                
                    .swiper-slide:nth-child(10n) {
                      background-color: rgb(54, 94, 77);
                    }

                    .swiper-slide:nth-child(11n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(12n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(13n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(14n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(15n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(16n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(17n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(18n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(19n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(20n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(21n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(22n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(23n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(24n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(25n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(26n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(27n) {
                      background-color: rgb(54, 94, 77);
                    }
                    .swiper-slide:nth-child(28n) {
                      background-color: rgb(54, 94, 77);
                    }
                  </style>
                </head>
                
                <body>
                  <!-- Swiper -->
                
                  <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1618149103489-0e1210d6128a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fG1vZGVsJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fG1vZGVsJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1503104834685-7205e8607eb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fG1vZGVsJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1616091093714-c64882e9ab55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fG1vZGVsJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1617633150875-57ee409d03b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fG1vZGVsJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1524502397800-2eeaad7c3fe5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fG1vZGVsJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1541257710737-06d667133a53?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzV8fG1vZGVsJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1575439462433-8e1969065df7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUzfHxtb2RlbCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">

                      </div>

                      <div class="swiper-slide">
                        <img src="https://images.unsplash.com/photo-1612796016950-35a5fc6275eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY2fHxtb2RlbCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1616091093623-cf4b7bbd2e18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTg3fHxtb2RlbCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1618488220787-aaee29f8871f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjA2fHxtb2RlbCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1564485377539-4af72d1f6a2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjMwfHxtb2RlbCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjM3fHxtb2RlbCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjUwfHxtb2RlbCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1502163140606-888448ae8cfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTV8fHdlZWRpbmclMjBtb2RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1550614000-4895a10e1bfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA0fHx3ZWVkaW5nJTIwbW9kZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1562572159-4efc207f5aff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM2fHx3ZWVkaW5nJTIwbW9kZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1617627143750-d86bc21e42bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW9kZWwlMjBwaG90b3Nob290fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1616536864056-762d107cd618?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1vZGVsJTIwcGhvdG9zaG9vdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1613065160785-71d8ea4b76b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fG1vZGVsJTIwcGhvdG9zaG9vdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.unsplash.com/photo-1617922101774-ff26426e4b73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY1fHxtb2RlbCUyMHBob3Rvc2hvb3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.pexels.com/photos/725458/pexels-photo-725458.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.pexels.com/photos/3742691/pexels-photo-3742691.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.pexels.com/photos/11742216/pexels-photo-11742216.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.pexels.com/photos/1485031/pexels-photo-1485031.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.pexels.com/photos/1557843/pexels-photo-1557843.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                      </div>

                      <div class="swiper-slide">
                      <img src="https://images.pexels.com/photos/371985/pexels-photo-371985.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                      </div>

                      <div class="swiper-slide">
                       <img src="https://images.pexels.com/photos/1642228/pexels-photo-1642228.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        </div>


                    </div>
                  </div>
                
                  <!-- Swiper JS -->
                  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
                
                  <!-- Initialize Swiper -->
                  <script>
                    var swiper = new Swiper(".mySwiper", {
                      effect: "cards",
                      grabCursor: true,
                    });
                  </script>
                </body>
                
                </html>

                

            </div>
         </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    
</body>
</html>