*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav121{
    width: 100vw;
    height: 9vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    position: fixed;
    top: 0%;
    z-index: 1000;
    box-shadow: 0.2vw 0.2vw 1vw gray;
}
.navleft1{
    width: 24vw;
    height: 7.5vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 1.2vw;
}
.h1r1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 7vh;
    background-color: #0e8ef1;
    border-radius: 5vw;
    font-family: gilroy;
    font-size: 2.5vw;
    font-weight: 700;
    color: white;
    border: none;
    outline: none;
}
.navsarch1{
    width: 18vw;
    height: 6.6vh;
    background-color: rgb(228, 225, 225);
    border-radius: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
}
.navsarch1>i{
    font-size: 1.3vw;
    color: rgb(0, 0, 0);
}
.navinputsarch1{
    width: 15vw;
    height: 6.6vh;
    background-color: rgb(236, 234, 234);
    border-right: 6vw;
    border: none;
    outline: none;
    font-size: 1.2vw;
    font-family: gilroy;
    font-weight: 200;
    background-color: transparent; 
}
.navcenter1{
    width: 55vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navcenter1>i{
    color: rgb(0, 0, 0);
}
.pp1099{
        width: 15vw;
        height: 6vh;
        border-radius: 4vw;
        font-size: 1.6vw;
        border: none;
        text-align: center;
        font-family: gilroy;
        color: white;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background: linear-gradient(80deg,#1EC1E3, #7577EC ,#F903FE);
}

